<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio Web</title>
    <link rel="stylesheet" type="text/css" href="../css/miEstilo.css">
</head>
<body>

    <header>
        <a href="https://facebook.com"><img class="red-social" src="../images/Pelotas_Layout.png" alt="Tienda Pelotas" width="237" height="69"></a>
    </header>


    <nav>
        <a href="../index.html">HOME</a>
        <a href="productos.html">PRODUCTOS</a>
        <a href="presupuesto.html">PRESUPUESTO</a>
        <a href="contacto.html" class="active">CONTACTO</a>
    </nav>

    <section>
       
        <h1>CONTACTO</h1>

        <div id="contenedor-contacto">
            <div id="mapa" >
            <img src="../images/mapa.jpg" alt="Ubicación de la empresa" width="626" height="417">
        </div>
    
        <div class="datos-contacto" id="divDatos">
            <h2>Datos de Contacto</h2>
            <p>Dirección: Calle Zigüeña 78, Villalpuerro</p>
            <p>Teléfono: +34 623 45 50 35</p>
            <p>Email: tiendaPelotas@pelotas.com</p>
        </div>
        </div>


    </section>

    <footer>
        <div>
            <a href="https://facebook.com"><img class="red-social" src="../images/facebook_logo.png" alt="Facebook" width="2048" height="2048"></a>
            <a href="https://twitter.com"><img class="red-social" src="../images/x_logo.avif" alt="Twitter" width="570" height="570"></a>
            <a href="https://www.oligofrenia.com/"><img class="red-social" src="../images/tiktok_logo.png" alt="Tiktok" width="512" height="512"></a>
        </div>
        <div>
            <p>Calle Zigüeña 78, Villalpuerro</p>
            <p>Aviso Legal</p>
        </div>
        <div>
        </div>
    </footer>

</body>
</html>