<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Sitio Web</title>
    <link rel="stylesheet" type="text/css" href="../css/miEstilo.css">
</head>
<body>

    <header>
        <a href="https://facebook.com"><img class="red-social" src="../images/Pelotas_Layout.png" alt="Tienda Pelotas" width="237" height="69"></a>
    </header>

    <nav>
        <a href="../index.html">HOME</a>
        <a href="productos.html" class="active">PRODUCTOS</a>
        <a href="presupuesto.html">PRESUPUESTO</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>

    <section>
        
        <h1>PRODUCTOS</h1>

        <div class="grid-container">
            <div class="product">
                <img src="../images/8410128010095-Pelota_Golf.png" alt="Pelota Golf" width="151" height="151">
                <h3>Pelota Golf</h3>
                <h3>6,99€</h3>
                <p>Se trata de una pelota de golf, qué te voy a decir.</p>
            </div>
            <div class="product">
                <img src="../images/Kit_Deportes.png" alt="Kit Deportes" width="151" height="151">
                <h3>Kit Deportes</h3>
                <h3>1,99€</h3>
                <p>Kit con pelotas de múltiples deportes.</p>
            </div>    
            <div class="product">
                <img src="../images/8410128010098-Pelota_Amarilla.png" alt="Pelota Amarilla" width="151" height="151">
                <h3>Pelota Amarilla</h3>
                <h3>3,99€</h3>
                <p>Una pelota del mismo color que la gente con ictericia.</p>
            </div>
            <div class="product">
                <img src="../images/8410128010099-Pelota_Morada.png" alt="Pelota Morada" width="151" height="151">
                <h3>Pelota Morada</h3>
                <h3>4,99€</h3>
                <p>Regio color tiene esta pelota, mire usted.</p>
            </div>
            
           
        </div>

    </section>

    <footer>
        <div>
            <a href="https://facebook.com"><img class="red-social" src="../images/facebook_logo.png" alt="Facebook" width="2048" height="2048"></a>
            <a href="https://twitter.com"><img class="red-social" src="../images/x_logo.avif" alt="Twitter" width="570" height="570"></a>
            <a href="https://www.oligofrenia.com/"><img class="red-social" src="../images/tiktok_logo.png" alt="Tiktok" width="512" height="512"></a>
        </div>
        <div>
            <p>Calle Zigüeña 78, Villalpuerro</p>
            <p>Aviso Legal</p>
        </div>
        <div>
        </div>
    </footer>

    

</body>
</html>